{
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "modules": "cjs",
          "targets": {
            "node": "current"
          }
        }]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ]
    },
    "build": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false,
          "targets": {
            "node": "current"
          }
        }]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}
